.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.sans-serif {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.quintessential-regular h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
p{

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 19vh;
  color: grey;
  font-size: 20px;
} 
.square {
  height: 22.33333333333vw;
  width: 95vw;
  border: 4px solid black;
}
.square1 {
  height: 22.333333333vw;
  width: 32.222vw;
  border: 4px solid black;
}
.square2 {
  height: 22.333333333vw;
  width: 32.222vw;
  border: 4px solid black;
}
.square3{
  height: 22.333333333vw;
  width: 32.44444vw;
  border: 4px solid black;
}
.square4 {
  height: 22.33333333vw;
  width: 95vw;
  border: 4px solid black;
}
.row {
  display: flex;
  justify-content: space-between; /* spreads them evenly */
  width: 95vw;
}
.projects{
  margin-top: 5vh;
  display: flex;
}
